/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/nova/node_modules
/nova/vendor
nova/node_modules
nova/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.vscode
composer.lock
package-lock.json
node_modules
vendor
/storage/media-library/temp
storage/media-library/temp
/storage/media-library/temp/
storage/media-library/temp/
.idea
.idea/
/.idea
/.idea/
/.idea/*
*/.idea
!/lang/vendor/
!/lang/vendor/*
